URL parsing should follow RFC 3986

See [RFC 3986, section 2](https://tools.ietf.org/html/rfc3986#section-2), "Characters".

Reserved Characters are defined in section 2.2:

```
reserved    = gen-delims / sub-delims

gen-delims  = ":" / "/" / "?" / "#" / "[" / "]" / "@"

sub-delims  = "!" / "$" / "&" / "'" / "(" / ")"
          / "*" / "+" / "," / ";" / "="
```

Unreserved Characters are defined in section 2.3:

```
unreserved  = ALPHA / DIGIT / "-" / "." / "_" / "~"
```



But wait! Do we really want to _require_ valid URLs? Probably not. Is there a happy medium to aim at? For instance, we'll probably want to use the tool for links like this:

```
$ morglink "[[/home/pi/hello.ml][hello.ml]]"
[hello.ml](/home/pi/hello.ml)
```